

<h2>В разработке</h2>
@* <form method="post">
    <label>Сумма займа</label>
    <input name="loanAmount" type="number" placeholder="0" value="100000" /><br />

    <label>Срок займа(в днях)</label>
    <input name="loanTerm" type="number" placeholder="0" value="6" /><br />

    <label>Ставка(в день)</label>
    <input name="loanRate" type="number" placeholder="0" value="10" /><br />

    <label>Шаг платежа</label>
    <input name="step" type="number" placeholder="0" value="10" /><br />

    <input type="submit" value="Рассчитать" />

</form> *@
